<!DOCTYPE html>
<html>
<head>
  <title>Firewall Rules</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  
  <h2 id="playbookGenerator" style="text-align: center;">Firewall Rules</h2>
  <div class="top-bar">
    <a href="/">
        <button>
            Generate Playbook
        </button>
    </a>

    <a href="/subnetcalc">
        <button>
            Subnet Calculator
        </button>
    </a>
    
    <a href="/firewallrules">
        <button>
            Firewall Rules
        </button>
    </a>
    
    <a href="/portfolio">
        <button>Portfolio</button>
    </a>
    
  </div>