body {
  background-color: #141414;
  #playbookGenerator{
    color: white;
  }
}

.top-bar {
  display: flex;
  justify-content: left;
  padding: 0px;
  text-align: center;
}

.top-bar button {
  color: white;
  background-color: #141414;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0px 0px;
  cursor: pointer;
}

.formButtons button{
  color: white;
  background-color: #141414;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0px 0px;
  cursor: pointer;
}

label{
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}